* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}